* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
html{
    font-family:'inconsolata', monospace;
    background-color: black;
    color: green;
}

.header{
    display: inherit;
}

#main_title{
    margin: 0;
    padding: 2% 45%;
    text-align: center;
}

.recent_post{
    display: grid;
    margin: 2%;
    grid-column-gap: 2%;
    grid-row-gap: 2%;
    grid-template: 
        "mr_post mr_post" auto
        "mrp_img mrp_title"
        "mrp_img mrp_paragraph"
        "mrp_img mrp_button";/**mrp = most recent post**/
}

#most_recent_post{
    grid-area: mr_post;
}

#mr_post_img{
    max-width: 100%;
    height: auto;
    grid-area: mrp_img;
}

#mr_post_title{
    grid-area: mrp_title;
}

#mr_post_paragraph{
    grid-area: mrp_paragraph;
}

#mr_post_button{
    grid-area: mrp_button;
}

.img_container{
    padding: 1%;
}

#img_about_me{
    width: 100%;
    height: auto;
}

.hide{
    display: none;
}

.footer{
    display: flex;
    margin: 2%;
}

.about_me{
    display: inline;
}

.about_me *{
    padding: 1%;
}

@media (max-width:600px) {
    .recent_post{
        padding: 2% 0;
        display: inline;
    }
}