<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreandoUnBlog</title>
</head>
<body>
    <div class="container">
        <h1>Creando un blog</h1>
        <hr/>
        <div class="post-container">
            <div class="post" th:each=" post: ${posts}">
                <h2>
                    <a th:href="@{'/posts/'+${post.id}}" 
                    th:text="${post.title}">Title</a></h2>
                <h5 th:text="'Published On ' + ${post.createdAt}">Created At</h5>
                <p th:text="${post.body}">body text</p>
                <br />
            </div>
        </div>
        <ul>
            <li><a th:href="@{/register}">Register</a></li>
            <li><a th:href="@{/login}">login</a></li>
            <li><a th:href="@{/posts/new}">new post!</a></li>
        </ul>
    </div>
</body>
</html>