footnote{
    font-size: small;
}


.post_title{
    text-align: center;
}

.post_body{
    margin: 2% 20%;
}

.post_body img{
    max-width: 100%;
    height: auto;
}

.post_body *{
    padding: 2% 0;
    text-align: justify;
}

.centered{
    display: block;
    margin: 0 auto;
    width: 50%;
}
.less_padding{
    padding: .5% 0;
}

.less_padding *{
    padding: .5% 0;
}

.img_with_text p{
    text-align: center;
    font-size: small;
}